# sbt
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project
project/target/
project/project/
log/
project/.sbtserver
.sbtserver/
# Scala-IDE specific
.scala_dependencies
.worksheet
# intellij
/.idea/
# saved Boards
/null/
field.json
field.xml

